* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  /*display: flex;*/
  background-color: #8C7051;
}

h1 {
  text-align: center;
  font-size: 8vh;
}

.memory-game {
  width: 440px;
  height: 440px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #fff;
  perspective: 1000px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.card {
  /*calc funtion allows us to subtract the margin value from the width and height.*/
  width:calc(25% - 4px);
  height:calc(25% - 8px);
  margin: 2px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.card:active {
  transform: scale(.97);
  transition: transform .2s;
}

.card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height:100%;
  padding: 5px;
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

#btn {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: auto;
  width: 100px;
}

#btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#username {
  text-align: center;
  margin: 10px;
}

#timer {
  text-align: center;
  margin: 20px;
}
